<div class="sidebar">

    <div class="logo">
        <h4>Mess Manager</h4>
    </div>

    <ul class="nav flex-column">

        <li class="nav-item">
           <a routerLink="/dashboard" class="nav-link">
      Dashboard
    </a>
        </li>

        <li class="nav-item">
            <a routerLink="/users" class="nav-link">
      Residents
    </a>
        </li>

        <li class="nav-item">
           <a routerLink="/meals" class="nav-link">
      Meals
    </a>
        </li>

        <li class="nav-item">
            <a routerLink="/expenses" class="nav-link">
      Expenses
    </a>
        </li>

        <li class="nav-item">
              <a routerLink="/reports" class="nav-link">
      Reports
    </a>
        </li>

    </ul>

</div>